.searchHolder {
    margin-top: 10px;
    margin-left: 20PX;
}

.loginHolder {
    color: white;
    margin-top: 10px;
    margin-left: 20px;
}

input#username {
    padding-left: 10px;
}

input#password {
    padding-left: 10px;
}

.user {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}

a.logout {
    color: white;
    text-decoration: none;
    margin-top: -15px;
    margin-left: -100px;
    position: absolute;
}
