.searchHolder {
    margin-top: 10px;
    margin-left: 20PX;
}

.loginHolder {
    color: white;
    margin-top: 10px;
    margin-left: 20px;
}

input#username {
    padding-left: 10px;
}

input#password {
    padding-left: 10px;
}

.user {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}

a.logout {
    color: white;
    text-decoration: none;
    margin-top: -15px;
    margin-left: 80px;
    position: absolute;
}

div#registerHolder {
    padding: 25px;
    /* margin: auto; */
}

.formRegister {
  margin-top: 10px;
}

.formRegister input {
  margin: 3px 0px;
  padding-left: 10px;
}
